name: Build Cordova APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Cordova
      run: npm install -g cordova

    - name: Add Android platform and plugins
      run: |
        cordova platform add android
        cordova plugin add cordova-sqlite-storage
        cordova plugin add cordova-plugin-file
        cordova plugin add cordova-plugin-pdf-generator
        cordova plugin add https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git
        cordova plugin add cordova-plugin-file-opener2

    - name: Build APK
      run: cordova build android

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: POSApp-APK
        path: platforms/android/app/build/outputs/apk/debug/*.apk
